h1 {
    background: #333333;
    text-align: center;
    color: #eee;
    padding: 20px 0;
    margin: 0;
    margin-bottom:20px;
    font-size: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav {
    padding: 10px 0;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    text-align:center;
}

#bio_image {
    text-align: center;
}

head {
    background: #777;
    content: #ebebeb;
}

body {
    width: 960px;
}

section {
    width: 495px;
}

#Message {
    width: 200px;
    height: 100px;
}


